#FREQTRADE__TELEGRAM__CHAT_ID=your_chat_id
#FREQTRADE__TELEGRAM__TOKEN=
FREQTRADE__API_SERVER__username=
FREQTRADE__API_SERVER__password=
#FREQTRADE__API_SERVER_jwt_secret=
#FREQTRADE__API_SERVER_ws_token=
